.header {
    background-color: var(--main-bg);
    padding: 96px 0 77px;
    position: relative;
}

.header__icon { 
    color: var(--dark-bg)
}


.header__logo { 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu { 
    display:flex;
    flex-direction: row;
    gap:12px;
}

.header__container {
   display:flex;
   flex-direction: column;
   gap:40px;
   
   
}

.header__title {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    margin-bottom: 0;
    color: var(--font-color)
}


