/* Стилизация кнопки */
.button { 
padding: 14px 15px 15px;
background: #4263EB;
border-radius: 8px;
min-width: 189px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;

}

.button_primary:hover {
    background-color: #2342C0;
}

.button_secondary { 
    background-color: #7048E8;
}

.button_secondary:hover { 
    background-color: #5028C6;
}

.button_alternate  {
    background-color: #FFFFFF;
    border: 1px solid #ACB5BD;
    color: #495057;
}

.button_alternate:hover { 
    background-color: #FFFFFF;
    border: 1px solid  #212429;
}

.button:disabled { 
    opacity: 0.5;
    pointer-events: none;
}