.footer {
    padding: 56px 0;
    height: 130px;
}

.footer__wrapper { 
    display:flex;
    justify-content:center;
    align-items:center;
}


.footer__content { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #ACB5BD;


}