.modal { 
    height: 508px;
    width: 381px;
    background-color: #c4c4c4; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.modal__container {
    background-color: white; 
    border: 2px solid #ffffff; 
    padding: 16px; 
    width: 100%; 
    height: auto; 
}

.modal__info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.modal__area { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    padding: 16px; 
}

.modal__content { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}


.modal__open { 
    background-color: #4263eb;
    color: white;
    height: 48px;
    border-radius: 8px;
}