.preview {
    padding: 32px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
    position: relative;
}

.preview__inner {
    background-color: #ffffff;
    padding: 32px 0 0 48px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 0;
    width: 100%;
    z-index: 1;
}

.preview__component {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    padding-left: 48px;
}

.preview__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #495057;
}


.preview__tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
}

.radio__column {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}


.form__container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.form__row {
  display: flex;
  gap: 5px; 
}
