/* Стилизация аккордеона */

.accordion__section {
   border: 1px solid var(--grey-3);
   background-color: var(--bg-field);
   padding: 24px 32px;
   margin-bottom: 8px;
   border-radius: 8px;
   
   
     
}


.accordion__content { 
   line-height: 24px;  
   font-size: 16px;
   color: var( --font-color);
   font-family: 'Inter';
   font-weight: 400px;
   margin: 16px 0px 8px;
   
}


.accordion__header {
    color: var( --font-color);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter';
    font-weight: 400px;
    list-style: none; 
    cursor: pointer; 
    outline: none; 
    padding: 0; 
}

.accordion__wrapper { 
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.accordion__title { 
    font-weight: 400;
    font-size: 28px;
    line-height: 1.36;
    color: var(--grey-3);
    text-transform: uppercase;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;

}


@media (max-width:768px) { 
    .accordion__title { 
        font-size: 20px;
    }
}