.burger {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(127, 127, 127, 0.5);
  transform: translateX(-100vw);
  transition: transform 250ms linear;
  z-index: 1000;
}

.burger[data-open] {
  transform: translateX(0);
}

.burger__container {
  height: 100vh;
  width: 375px;
  background-color: white;
  overflow-y: auto; 
  
}

.burger__header {
  padding: 16px 0 16px 12px;
  position: static; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger__header_button {
  width: 24px;
  height: 24px;
  background-color: #DDE2E5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static; 
  margin-left: 12px; 
}

.burger__icon-button {
  width: 12px;
  height: 12px;
}

.burger__icon {
  position: static; 
  margin: 0 auto; 
  width: 110px;
  height: 32px;
}

.burger__divider {
  height: 1px;
  width: 100%;
  background-color: #DDE2E5;
  margin: 32px 0; 
}

.burger__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 29px 0 24px 0; 
}

.burger__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #495057;
  padding-left: 16px;
}

.burger__menu-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burger__menu-wrapper {
  flex: 1; 
  overflow-y: auto; 
  
}

.burger__menu-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px; 
}

.burger__menu-title {
  height: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ACB5BD;
}

.burger__menu-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212429;
}




