.form__wrapper {
  position: relative;
  display:inline-block;
  }

.form__input {
width: 350px;
height: 58px;
box-sizing: border-box;
background: var(--bg-field);;
border: 1px solid var(--grey-3);
border-radius: 8px;
outline: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: var(--font-color);
padding: 17px 48px 13px 24px;

}

.form__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display:none;
}

.form__label { 
display:block;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--grey-3);
margin-bottom: 5px;
}

.form__input:focus {
  border-color: var(--primary);
}

.form_success .form__input:focus {
  border-color: var(--primary);
}

.form_invalid .form__input:focus {
  border-color: var(--primary);
}

.form_invalid .form__input {
  border-color: var(--red);
}

.form_success .form__input {
  border-color: var(--grey-2);
}


.form_success .form__icon_success { 
  display:block;
}

.form_invalid .form__icon_invalid { 
  display:block;
}

.forms-preview { 
   display: flex;
   flex-direction: column;
   gap: 24px;
}





@media (max-width: 768px) {
  

  .form__wrapper {
  position: relative;
  display:inline-block;
  }

  .form__input {
    width: 350px;
    height: 58px;
    padding: 17px 48px 13px 24px;
    font-size: 16px;
    line-height: 1.4;
  }

  
  .form__icon {
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
  }

  .form__title {
    font-size: 20px;
    margin-bottom: 16px;

  }
}






