@import '../fonts/fonts.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../components/text/text.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}


<!DOCTYPE html>
<!-- Главная страница -->
<html lang="ru">
    <head>
        <link rel="stylesheet" href="./assets/css/main.css">
    </head>
    <body>
        <div class = 'page'>
            <header class = 'header'>
                <div class = 'container'>
                <h1 class = 'header__title'>Reusable component library</h1>
                </div>
            </header>
            <main class = 'preview'>
                <div class = 'container'>
                    <div class = 'preview__inner'>
                        <div class = 'card'></div>
                        <div class = 'card'></div>
                        <div class = 'card'></div>
                        <div class = 'card'></div>
                        <div class = 'card'></div>
                        <div class = 'card'></div>
                    </div>
                </div>

            </main>
            <footer class = 'footer'>
                <div class = 'footer__wrapper'>
                    <div class = 'footer'>ABOUT</div>
                    <p class = 'footer__content'>This project is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your projects.
                    Get started by checking out our free preview components, or browsing the PNG previews in the categories you're most curious about.</p>
                    
                </div>

            </footer>

        </div>

    </body>
</html>

.page { 
    min-height: 100vh;
}



.header { 
    
    background-color: #ffffff;
    padding: 96px 0 77px;

}

.header__title { 
    font-family: Inter ,sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;


}



.preview { 

    padding: 68px  0;
    background-color:  #F9FAFC;
    

}

.preview__inner { 
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.container { 
    max-width: 1110px;
    margin:0 auto;
    
}



.footer { 

    padding: 71px  0;
    background-color: #ffffff;

}



.card { 
    width: 350px;
    height: 367px;
    border: 1px solid green;
    border-radius: 12px;
    
}



.text { 

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;
    

}


.footer__title { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
color: #212429;
text-align: center;




}

.footer__content {
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #212429;



}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    
}



