

.modal {
    height: 100vh; 
    width: 100vw;  
    background-color: #c4c4c4;
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
 
}

.modal__container {
    background-color: white;
    border-radius: 8px;
    max-width: 428px;
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    padding: 32px  40px  40px;
    
}

.modal__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.modal__content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #334D6E;
}

.modal__close {
    cursor: pointer;
    background-color: transparent;
    border:none;
}




.modal-preview {
    max-width: 200px;
    width: 100%;
    border: 1px solid var(--grey-3);
    border-radius: 4px;
    padding: 1em;
    box-sizing: border-box;
}


.modal-preview__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.modal-preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-preview__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-preview__label {
    font: 500 12px/1.2 'Inter', sans-serif;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: var(--grey-3);
    margin: 0;
}

.modal-preview__title { 
  color: var(--font-color);
}

.modal-preview__close { 
  background-color: transparent;
  border:none;
  color: var(--font-color)
}

.modal-preview__input-group {
  display: flex;
}


.modal-preview__input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    font: 14px 'Inter', sans-serif;
    background-color: var(--main-bg);
    box-sizing: border-box;
}

.modal__wrapper { 
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.modal__heading { 
    font-weight: 400;
    font-size: 28px;
    line-height: 1.36;
    color: var(--grey-3);
    text-transform: uppercase;
}

 @media (max-width:768px) { 
    .modal__heading { 
      font-size: 20px;
    }
 }

