.calendar { 
background: #FFFFFF;
border: 1px solid #ACB5BD;
border-radius: 8px;
width: 304px;
height: 324px;
padding: 28px 36px;
display:grid;


}


.calendar__wrapper { 
    display:grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(7 , 1fr);

}




.calender__item { 
    display: grid;            /* Используем grid для центрирования текста в ячейках */
    justify-items: center;    /* Горизонтальное центрирование текста в ячейках */
    align-items: center; 
    color: #334d6e    
   
}


.calendar__item_day { 
    display: grid;
    justify-items: center;
    color: #90a0b7 ;
}


.calendar__item_active {
    background-color: #4263eb;
    color: #FFFFFF;
}


.calendar__item_between-active { 
    background-color: #a0b1f5;
}

.calendar__title {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    row-gap: 24px;

    
}





