.tooltip { 
    display: inline-block;
    position: relative;

}




.tooltip__trigger { 


}


.tooltip__icon { 

}

.tooltip__bubble { 
    display: none;

    /* Tool Tip */

width: 129px;
/* Helper Text */

position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #DDE2E5;
padding: 13px 8px;
background: #4263EB;
box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 10px;
text-align: center;
bottom: 100%;
left: 50%;
transform: translateX(-50%);
margin-bottom: 10px; 


}


.tooltip__bubble:before { 
    content: '';
     border: 10px solid transparent;
    border-top: 10px solid  #4263EB;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    


}


.tooltip__trigger:hover ~  .tooltip__bubble { 
    display: block;
}


body { 
    text-align: center;
    padding-top: 100px;
}