.footer { 

    padding: 71px  0;
    background-color: #ffffff;

}


.footer__wrapper { 
    max-width: 640px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;

    

}


.footer__title { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
color: #212429;
text-align: center;


}


.footer__content {
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #212429;

}

