.checkbox__state { 
    display: inline-flex;
    align-items: center;
    gap: 12px;
    
}


.checkbox__control { 

width: 28px;
height: 28px;
background: #FFFFFF;
border: 1px solid #DDE2E5;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;


}


.checkbox__label { 

font-family: 'Inter' , sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #495057;


}



.checkbox__icon { 
    display: none;
    
}


.checkbox__input:checked ~ .checkbox__state .checkbox__control {

    border-color: #4263eb;
    background: #4263eb;
}



.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input { 
    position: absolute;
    left: -100vw
}


.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control { 

    color:  #dde2e5 ;

}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    
color: #DDE2E5;


}








