.text { 

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;
    

}


.text__title { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
color: #212429;
text-align: center;




}

.text__content {
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #212429;



}