
.button__container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}

.button__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.button { 
padding: 14px 15px 15px;
border-radius: 8px;
min-width: 189px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;

}


.button_primary {
    background-color: var(--primary);;
}

.button_primary:hover {
    background-color: var(--primary-h);
}

.button_secondary { 
    background-color: var( --secondary);
}

.button_secondary:hover { 
    background-color: var(--secondary-h);
}

.button_alternate {
  background-color: var(--button-alternate-bg);
  border: 1px solid var(--grey-3);
  color: var(--button-alternate-color);
}

.button_alternate:hover {
  background-color: var(--button-alternate-bg);
  border: 1px solid var(--black);
}

.button:disabled { 
    opacity: 0.5;
    pointer-events: none;
}

@media all and (max-width:768px) { 
  .button__row {
    grid-template-columns: 1fr;
  }
}