.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}


.tabs__scroller {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
}


.tab-radio__input {
  position: absolute;
  left: -100vw;
}

.tab-radio {
  cursor: pointer;
  display: block;
}

.tab-radio__control {
  width: 117px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.tab-radio__label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ACB5BD;
  text-align: center;
}

#tab-html:checked ~ .tabs__scroller label[for="tab-html"] .tab-radio__control,
#tab-css:checked ~ .tabs__scroller label[for="tab-css"] .tab-radio__control {
  border-bottom: 5px solid #212429;
}


#tab-html:checked ~ .tabs__scroller label[for="tab-html"] .tab-radio__label,
#tab-css:checked ~ .tabs__scroller label[for="tab-css"] .tab-radio__label {
  color: #212429;
}


#tab-html:hover ~ .tabs__scroller label[for="tab-html"] .tab-radio__label,
#tab-css:hover ~ .tabs__scroller label[for="tab-css"] .tab-radio__label {
  color: #212429;
}


#tab-html:hover ~ .tabs__scroller label[for="tab-html"] .tab-radio__control,
#tab-css:hover ~ .tabs__scroller label[for="tab-css"] .tab-radio__control {
  border-bottom: 5px solid #212429;
}


.tabs__container {
  position: relative;
  width: 100%;
}

.tabs__content {
  display: none;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}



#tab-html:checked ~ .tabs__container #content-html,
#tab-css:checked ~ .tabs__container #content-css {
  display: block;
}


pre { 
  font-family: monospace, monospace;
  font-size: 1em;
}

