body { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('public/forest_400.jpg');
}





@media (min-width: 768px) {

    body { 
        background-image: url('public/forest_768.jpg');
    }
    
}



@media (min-width: 1024px) {

    body { 
        background-image: url('public/forest_1024.jpg');
    }
    
}



@media (min-width:2560px) {

    body { 
        background-image: url('public/forest_2560.jpg');
    }
    
}