.preview { 
    padding: 68px  0;
    background-color:  var( --grey-bg);
    
}

.preview__inner { 
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    background-color: var( --grey-bg);
    
}