.form { 
    padding-bottom: 39px;
}


.form__input { 
    width: 350px;
    height: 58px;
    border-radius: 8px;
}

.input__icon {
    position: relative;
    width: 350px;
     
}


.icon {

position: absolute;
right: 16px;
top: calc(50% - 24px/2);


}


.form__label { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
color: #ACB5BD;


}

.form_success { 
    
}

.form_success:focus { 

}


.form_invalid { 

}


.form_invalid:focus {

    border-color:#f03d3e;
    
    

}

.form__input:disabled { 

}



