.form { 
    padding: 3px;
}


.form__input { 
    width: 350px;
    height: 58px;
    border-radius: 8px;
}


.form_success { 
    
}

.form_success:focus { 

}


.form_invalid { 

}


.form_invalid:focus {
    
    border-color: red;

}

.form__input:disabled { 

}



