.form { 
    padding-bottom: 39px;
}


.form__input { 
    width: 350px;
    height: 58px;
    border-radius: 8px;
}

.input__icon {
    position: relative;
    width: 350px;
     
}


.icon {

position: absolute;
right: 16px;
top: calc(50% - 24px/2);


}


.form__label { 
    
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
color: #ACB5BD;


}


.form__input:focus { 
    border-color: #374FC7; 
    box-shadow: 0 0 5px rgba(55, 79, 199, 0.5); 

}

.form_success { 
    
}

.form_success:focus { 

}


.form_invalid { 

    border-color: #F03D3E;

}


.form_invalid:focus {

     border-color: #F03D3E; 
    box-shadow: 0 0 5px rgba(240, 61, 62, 0.5); 
    
    

}

.form__input:disabled { 

}



